.search {
    -webkit-appearance: none;
    text-align: center;
    width: 500px;
    height: 64px;
    padding: 5px;
    line-height: 30px;
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: inset 2px 2px 12px rgba(229, 67, 244, 0.318), inset 4px 0px 7px rgba(63, 62, 62, 0.777), inset -5px -5px 10px #ffffff;
    border-radius: 0.5em;
}
